*.mak
*.mak.vpc_crc
*.vpc_crc
*.vpc.*
*.project
*obj_*
.waf*
.lock-waf*
__pycache__
*.pyc
.vs/
Debug/
Debug_*/
Release/
Release_*/
*.tlog/
*.obj
*.pch
*.log
*.idb
*.pdb
*.rc
*.bin
*.vcxproj*
*.sln
*.dll*
*.exp
*.ilk
ValveETWProviderEvents.h
source/game/client/*/client.lib
source/game/server/*/server.lib
source/.DS_Store
source/build*/
source/.cache/
source/.ccache/
source/waf3*/
source/.vscode/
source/.depproj/
source/source-engine.sln
source/hl2/

